body{
    background-color: lightgray;
    margin: 0;
}
h1{
    background-color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.feed {
    margin: 0 auto;
    width: 500px;
    margin-bottom: 40px;
    background-color: white;
}

.head {
    display: flex;  
    height: 40px;  
    width: 100%;
}

.title{
    width: 91%;
    margin: auto;
    font-weight: bold;
    margin-left: 10px;
}

.counter{
    width: 9%;
    color:lightgray;
    margin: auto;

}

.img{
    height: 350px;
    width: 100%;
    display: flex;
    border-width:1px 0 1px 0;
    border-color: lightgray;
    border-style: solid;
}

.img img{
    width: 100%;
    object-fit:contain;
}

.foot{
    height: 50px;   
    margin: 10px;

}
